.container {
    width: 100vw;
    height: 100vh;
    border: 1px solid transparent;
    background: no-repeat center
      url(https://image.freepik.com/free-photo/abstract-textured-backgound_1258-30527.jpg);
    background-size: cover;
    text-align: center;
    color: rgba(14, 119, 172, 0.704);
     padding: 60px;
    font-size: 20px;
  }
  .buttonContainer {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10% auto;
  }
  .button1 {
    display: inline-block;
    border-radius: 3px;
    background: transparent;
    background-image: none;
    color:black;
    padding: 0 20px;
    line-height: 2.5;
    border: 3px solid black;
  }
  .button2 {
    display: inline-block;
    border-radius: 3px;
    background: transparent;
    background-image: none;
    color: black;
    padding: 0 30px;
    line-height: 2.5;
    border: 3px solid black;
  }
  .logoContainer {
    width: 35%;
    height: 35%;
    margin: 0px auto 90px;
    display: flex;
    justify-content: space-between;
  }
  .logoImg {
    width: 10vh;
    height: 10vh;
  }
  @media (max-width: 1013px) {
    .button1 {
      margin: 1vh;
      line-height: 1.5;
      padding: 8px;
    }
    .button2 {
      margin: 1vh;
      line-height: 1.5;
      padding: 8px;
    }
  }
  @media (max-width: 999px) {
    .buttonContainer {
      flex-direction: column;
    }
    .button1 {
      margin: 2vh;
      font-size: 10px;
      line-height: 1.5;
      padding: 8px;
    }
    .button2 {
      margin: 2vh;
      font-size: 10px;
      line-height: 1.5;
      padding: 8px;
    }
  }
  @media (max-width: 378px) {
    .container {
      font-size: 10px;
    }
  }
  @media (max-width: 645px) {
    .logoContainer {
      flex-direction: column;
      justify-items: center;
      width: 10vh;
    }
  }
  